doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Agency - Start Bootstrap Theme

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand(href='#page-top')
                    img(src='assets/img/startuplogo.png', alt='...')
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ms-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                        li.nav-item
                            a.nav-link(href='#services') About
                        li.nav-item
                            a.nav-link(href='#portfolio') Directory
                        li.nav-item
                            a.nav-link(href='#about') Timeline
                        li.nav-item
                            a.nav-link(href='#team') Team
        // Masthead
        header.masthead
            .container
                .masthead-subheading Welcome To 
                .masthead-heading.text-uppercase StartUp Career Fair 2023
                a.btn.btn-primary.btn-xl.text-uppercase(href='#services') Tell Me More

        // Services
        section#services.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase What is startup Career Fair?
                    h3.section-subheading.text-muted Here's a glimpse of what we're all about.
                .row.text-center
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-shopping-cart.fa-stack-1x.fa-inverse
                        h4.my-3 General Overview
                        p.text-muted
                            | SCF is a dynamic, one-day, hybrid event that brings together innovative startup companies from across the United States to showcase their company to the student community at UIUC. 
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-laptop.fa-stack-1x.fa-inverse
                        h4.my-3 What Do We Do?
                        p.text-muted
                            | SCF allows students to discover career opportunities and gain possible internships with emerging startups while engaging in meaningful conversations with their potential employers.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-lock.fa-stack-1x.fa-inverse
                        h4.my-3 What Are Our Goals?
                        p.text-muted
                            | SCF's overaarching goal is to create connections between college students and the entrepreneurship ecosystem for the overall benefit of both students and startups. 

        // Portfolio Grid
        section#portfolio.page-section.bg-light
                .container
                    <div class="text-center">
                        <h2 class="section-heading text-uppercase">Attending Startups</h2>
                    </div>
                    div.totalScreen
                    div.rightColumn
                        div.directory
                        // Grid container
                        div.gridContainer(style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px;")
                            
                            div.orgCard(style="padding: 40px; display: flex; flex-direction: column;")
                                div.orgCardRightColumn(style="flex: 1;")
                                    a(href='https://www.earnest.ag/')
                                        img(src='assets/img/logos/EarnestAgriculture.png',alt='...', style="width: 300px; height: auto; margin-bottom: 15px")
                            
                            div.orgCard(style="padding: 40px; display: flex; flex-direction: column;")
                                div.orgCardRightColumn(style="flex: 1;")
                                    a(href='https://www.toptierlessons.com/')
                                        img(src='assets/img/logos/TopTier.jpg', alt='...', style="width: 300px; height: auto; margin-bottom: 15px")
                            
                            div.orgCard(style="padding: 40px; display: flex; flex-direction: column;")
                                div.orgCardRightColumn(style="flex: 1;")
                                    a(href='https://ascentitech.com/')
                                        img(src='assets/img/logos/AscentIntegratedTech.png', alt='...', style="width: 300px; height: auto; margin-bottom: 15px")
                            
                            div.orgCard(style="padding: 40px; display: flex; flex-direction: column;")
                                div.orgCardRightColumn(style="flex: 1;")
                                    a(href='https:/symbiobc.com')
                                        img(src='assets/img/logos/Symbio.png', alt='...', style="width: 300px; height: auto; margin-bottom: 15px")
                            
                            div.orgCard(style="padding: 40px; display: flex; flex-direction: column;")
                                div.orgCardRightColumn(style="flex: 1;")
                                    a(href='https://www.nowsecure.com')
                                        img(src='assets/img/logos/NowSecure.png', alt='...', style="width: 300px; height: auto; margin-bottom: 15px")
                            
                            div.orgCard(style="padding: 40px; display: flex; flex-direction: column;")
                                div.orgCardRightColumn(style="flex: 1;")
                                    a(href='https://www.eventnoire.com')
                                        img(src='assets/img/logos/Eventnoire.png', alt='...', style="width: 300px; height: auto; margin-bottom: 15px")
                            
                            div.orgCard(style="padding: 40px; display: flex; flex-direction: column;")
                                div.orgCardRightColumn(style="flex: 1;")
                                    a(href='https://www.linkedin.com/company/sakuramedtech/')
                                        img(src='assets/img/logos/Sakura.png', alt='...', style="width: 300px; height: auto; margin-bottom: 15px")
                            
                            div.orgCard(style="padding: 40px; display: flex; flex-direction: column;")
                                div.orgCardRightColumn(style="flex: 1;")
                                    a(href='https://www.instagram.com/jeevatva/')
                                        img(src='assets/img/logos/Jeevatva.jpg', alt='...', style="width: 300px; height: auto; margin-bottom: 15px")
                            
                            div.orgCard(style="padding: 40px; display: flex; flex-direction: column;")
                                div.orgCardRightColumn(style="flex: 1;")
                                    a(href='https://www.byld-innovations.com')
                                        img(src='assets/img/logos/BYLD.png', alt='...', style="width: 300px; height: auto; margin-bottom: 15px")
                            
                            div.orgCard(style="padding: 40px; display: flex; flex-direction: column;")
                                div.orgCardRightColumn(style="flex: 1;")
                                    a(href='https://bostonbioprocess.com/')
                                        img(src='assets/img/logos/BostonBioprocess.png', alt='...', style="width: 300px; height: auto; margin-bottom: 15px")
                            
        // About
        section#about.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase What Can You Expect?
                    h3.section-subheading.text-muted Here's a full breakdown of what's going on at this year's SCF!
                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/1.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 Step 1
                                h4.subheading Company Informational Session
                            .timeline-body
                                p.text-muted
                                    | Startups introduce their innovative products and services, providing students with an opportunity to gain in-depth knowledge of their company. Startups can showcase their unique value propositions to enable students to explore potential career paths and entrepreneurial ventures. Students can develop a comprehensive understanding of the latest trends and developments in the industry, and hone their critical thinking through interaction with more experienced entrepreneurs.
                        .timeline-images
                            img.rounded-circle.img-fluid(src='assets/img/about/2.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 Step 2
                                h4.subheading General Networking Session
                            .timeline-body(style="margin-left: 40px")
                                p.text-muted
                                    | Students can gain valuable insights and practical experience by interacting with a diverse group of startups. They can learn about real-world applications of their academic learning, network with entrepreneurs and business leaders, and explore different industries and sectors. 
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/3.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 Step 3
                                h4.subheading Scheduled Individual Meetings 
                            .timeline-body
                                p.text-muted
                                    |  SCF provides students with the opportunity to engage in more in-depth conversations. This allows them to gain valuable insights into the workings of startups and potentially identify career paths that they may wish to pursue. These conversations could include discussions around product development, market research, funding, and growth strategies.
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/4.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 Step 4
                                h4.subheading Beyond The Event
                            .timeline-body
                                p.text-muted
                                    | SCF aims to create long lasting connections between students and startups that last far beyond the scope of the event.
                    li.timeline-inverted
                        .timeline-image
                            h4
                                | Be Part
                                br
                                | Of SCF
                                br
                                | 2023!

        // Team
        section#team.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Our Amazing Team
                    h3.section-subheading.text-muted Learn more about the team that made this all possible!
                .row
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='/assets/img/team/sohamnandi.png', alt='...')
                            h4 Soham Nandi
                            p.text-muted Events Team Lead
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Parveen Anand LinkedIn Profile')
                                i.fab.fa-linkedin-in
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/rithvikmani.png', alt='...')
                            h4 Rithvik Mani
                            p.text-muted Lead Marketer
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Diana Petersen LinkedIn Profile')
                                i.fab.fa-linkedin-in
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/ivyxu.png', alt='...')
                            h4 Ivy Xu
                            p.text-muted Lead Developer
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Larry Parker LinkedIn Profile')
                                i.fab.fa-linkedin-in
                .row
                    .col-lg-8.mx-auto.text-center
                        p.large.text-muted
                            | 
  
        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-start
                        | Copyright &copy; Founders Illinois Entrepreneurs 2023
                    .col-lg-4.my-3.my-lg-0
                        a.btn.btn-dark.btn-social.mx-2(href='https://www.linkedin.com/company/founders-illinois-entrepreneurs/mycompany/', aria-label='LinkedIn')
                            i.fab.fa-linkedin-in
                        a.btn.btn-dark.btn-social.mx-2(href='https://www.instagram.com/illinoisfounders/', aria-label='Instagram')
                            i.fab.fa-instagram
                    .col-lg-4.text-lg-end
                        a.link-dark.text-decoration-none.me-3(href='#!') Privacy Policy
                        a.link-dark.text-decoration-none(href='#!') Terms of Use

        // Portfolio Modals
        include includes/portfolio-modal-1
        include includes/portfolio-modal-2
        include includes/portfolio-modal-3
        include includes/portfolio-modal-4
        include includes/portfolio-modal-5
        include includes/portfolio-modal-6

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
